/* Set the width and height for portrait orientation */
body {
    padding-top: 25px;
    width: 250px;  /* Portrait width */
    height: 75; /* Portrait height */
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}



#coords {
    color: blue;
    font-size: 12px;
}
#zoom-controls {
    text-align: center; /* Center the buttons */
}

#coords-area {
    display: flex; /* Use flexbox to align elements horizontally */
    align-items: center; /* Vertically align the elements */
    gap: 7px 
}
#location-area {
    display: flex; /* Use flexbox to align elements horizontally */
    align-items: center; /* Vertically align the elements */
    gap: 7px 
}
#save-api-key-button {
    font-size: 12px;
}


#capture-button {

    background-color: green;    /* Make the button red */
    color: white;             /* Text color */
    padding: 10px 20px;       /* Add some padding */
    border: none;             /* Remove default borders */
    border-radius: 5px;       /* Optional: make the corners rounded */
    font-size: 16px;          /* Adjust text size */
    cursor: pointer;          /* Change cursor to pointer on hover */
    display: block;           /* Make the button behave as a block element */
    margin:  auto;        /* Center the button */
    text-align: center;       /* Center the text inside the button */
}

/*
#zoom-controls button {
  
    font-size: 18px;
}
*/
/* Modal styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black with opacity */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Adjust as needed */
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  #coords-text {
    padding-left: 10px;
    font-size: 12px;
}

  #location-text {
    padding-left: 10px;
    font-size: 13px;

  }

  #api-key-section {
    display: flex;
    gap: 10px; /* Adjust spacing between input and button */
}
#settings-button {
    position: fixed;
    top: 10px;     /* Distance from the top */
    right: 10px;   /* Distance from the right */
    font-size: 15px;
    font-weight: bold;
}